In [1]:
#import all necessary libraries

import pandas as pd
import numpy as np

In [2]:
#import csv file to be worked on
!wget https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv

--2023-10-03 08:35:35--  https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231003%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231003T083536Z&X-Amz-Expires=300&X-Amz-Signature=fa0b4a1a2ba77169237cbbf64ab1ac84949194a5200f75259522fb23645f6dae&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel [following]
--2023-10-03 08:35:36--  https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231003%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231003T083536Z&X-Amz-Expires=300&X-Amz-Signature=fa0b4a1a2ba77169237cbbf64ab1ac84949194a5200f75259522fb23645f6dae&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8603007 (8.2M) [application/vnd.ms-excel]
Saving to: ‘FoodBalanceSheets_E_Africa_NOFLAG.csv’

FoodBalanceSheets_E 100%[===================>]   8.20M  16.4MB/s    in 0.5s

2023-10-03 08:35:37 (16.4 MB/s) - ‘FoodBalanceSheets_E_Africa_NOFLAG.csv’ saved [8603007/8603007]

In [3]:
#Load Dataset
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [4]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [6]:
df.shape

(60943, 12)

In [7]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [9]:
# select Columns 'Y2017' and 'Area', Perform a groupby operation on 'Area'. Which of these Areas had the 7th lowest sum in 2017?
select_data = df[['Y2017', 'Area']]
grp_data = select_data.groupby('Area')['Y2017'].sum()
arrange_data = grp_data.sort_values(ascending=True)

In [10]:
arrange_data

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [11]:
# To determine the area with the 7th Lowest sum
lowest_sum = arrange_data.iloc[6]
print(lowest_sum)

19102.77

In [12]:
# Given the following python code, what would the output of the code give?
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: ignored

In [13]:
df.shape

(60943, 12)

In [14]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [15]:
# What is the total number of unique countries in the dataset?
# Use groupby() to identify the unique countries

countries = df.groupby('Area').count()
total_countries = len(countries)

In [16]:
len(countries)

49

In [18]:
# To determine the Total number of the sum of processing in 2017
year_2017 = df.groupby('Element')['Y2017'].sum()

In [19]:
year_2017

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [20]:
sum_process = year_2017.sort_values(ascending=True)

In [21]:
sum_process

Element
Tourist consumption                            91.00
Fat supply quantity (g/capita/day)          10253.84
Protein supply quantity (g/capita/day)      11842.45
Seed                                        24870.14
Residuals                                   35500.00
Food supply quantity (kg/capita/yr)         48690.04
Stock Variation                             54316.91
Other uses (non-food)                       91645.97
Losses                                     160614.00
Export Quantity                            182338.80
Feed                                       223705.68
Processing                                 292836.00
Import Quantity                            294559.09
Food supply (kcal/capita/day)              454681.00
Total Population - Both sexes             1112641.00
Food                                      1258888.28
Production                                2030056.89
Domestic supply quantity                  2088198.10
Name: Y2017, dtype: float64

In [27]:
# Given the Numpy array
array  = np.array([[94, 89, 63],
          [93, 92, 48],
          [92, 94, 56]])
# How would you select  the elements in bold and italics from the array?

In [28]:
array[: 2, 1 :]

array([[89, 63],
       [92, 48]])

In [ ]:
# Which of these Areas had the highest sum in 2017?

In [30]:
year_2017 = df.groupby('Area')['Y2017'].sum()
print(year_2017.idxmax())

Nigeria

In [31]:
# What year has the highest sum of Stock Variation?
yr_2014 = df.groupby('Element')['Y2014'].sum()
yr_2015 = df.groupby('Element')['Y2015'].sum()
yr_2016 = df.groupby('Element')['Y2016'].sum()
yr_2017 = df.groupby('Element')['Y2017'].sum()
yr_2018 = df.groupby('Element')['Y2018'].sum()

In [32]:
yr_2014

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [33]:
yr_2015

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [34]:
yr_2016

Element
Domestic supply quantity                  2044842.70
Export Quantity                            151920.46
Fat supply quantity (g/capita/day)          10102.77
Feed                                       228958.65
Food                                      1247022.17
Food supply (kcal/capita/day)              451810.00
Food supply quantity (kg/capita/yr)         48985.28
Import Quantity                            286582.78
Losses                                     157787.00
Other uses (non-food)                       69563.68
Processing                                 280631.00
Production                                1943537.15
Protein supply quantity (g/capita/day)      11779.69
Residuals                                   37224.00
Seed                                        23389.20
Stock Variation                             33140.12
Total Population - Both sexes             1085107.00
Tourist consumption                            89.00
Name: Y2016, dtype: float64

In [35]:
yr_2017

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [36]:
yr_2018

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [37]:
# What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [38]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
m2017 = df['Y2017'].mean().round(2)
std2017 = df['Y2017'].std().round(2)

In [39]:
m2017

140.92

In [40]:
std2017

1671.86

In [43]:
# total Protein supply quantity in Madagascar in 2015?

protein = df.groupby('Element')['Y2015'].sum()
print(protein)

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64